html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
}

.container {
    flex: 1;
}

header {
    background-color: #2CA2E6;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 20px;
    font-family: Arial, Helvetica, sans-serif ;
}

header a {
    padding-left: 50px;
    color: #D7EDF9;
    text-decoration: none;
}

header a:hover{
    color: #FFFFFF; 
}

header ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header li {
    display: inline;
    font-size: 20px;
    margin-right: 20px;
    color: #D7EDF9;
}

footer {
    background-color: #2CA2E6;
    width: 100%;
    height: 50px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif ;
    bottom: 0;
} 
footer p{
    padding-bottom: 5px ;
}