html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
}

.container {
    flex: 1;
}

header {
    background-color: #2CA2E6;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 20px;
    font-family: Arial, Helvetica, sans-serif ;
}

header a {
    padding-left: 50px;
    color: #D7EDF9;
    text-decoration: none;
}

header a:hover{
    color: #FFFFFF; 
}

header ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header li {
    display: inline;
    font-size: 20px;
    margin-right: 20px;
    color: #D7EDF9;
}

.menu{
    position:absolute;
    font-family: Arial, Helvetica, sans-serif ;
    height: 200px;
    width: 260px;
    right: 0;
    top: 380px;
    border: 2px solid #CED4DA;
    background-color: #FFFFFF;
}

.menu h2{
    margin-left: 25px;
    color: #219DE5;
}

.menu a{
    list-style: none;
    text-decoration: none;
}

.menu a li{ 
    left: 0px;
    border-bottom:1px solid #DFDFDF;
    padding: 12px 5px;
    color: #2FA4E7;
}

.menu a li:hover{ 
    color: #157AB5;
}

.drop_menu select{
    border-radius: 5px;
    margin-left: 20px;
    height: 25px;
    width: 150px;
}

.drop_menu select:focus{
    border: 2px solid #1a73e8;
}

.drop_menu button{
    margin-bottom: 20px;
    max-width: 100px;
    margin: 0 auto;
    color: #FFFFFF;
    height: 25px;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid grey;
    background-color: #4CB0EA;    
}

.drop_menu button:hover{
    background-color: #249FE5;
    cursor:pointer;
}

.note{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    border:1px solid #DEE2E6;
    max-width: 700px;
    margin-left: 20px;
    background-color: #C5E6F8;
}

.note b{
    padding: 0;
    font-family: Arial, Helvetica, sans-serif ;
}

table{
    max-width: 700px;
    width: 100%;
    background-color: white;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif ;
}

table, th, td {
    border-collapse: collapse;
    border:1px solid #DEE2E6;
    text-align: center;
}

table, th{
    border-collapse: collapse;
    height: 50px;
    border:1px solid #DEE2E6;
    text-align: center;
}

table th select option{
    text-align: center;
}

table .header_row{
    cursor: pointer;
    height: 50px;
    color: #FFFFFF;
    background-color: #249FE5;
}

table .header_row th:hover{
    background-color: #54B4EB;
    color: #D7ECF8;
}

table td:hover{
    background-color: #ECECEC;
    cursor:pointer;
}

.login{
    position:absolute;
    font-family: Arial, Helvetica, sans-serif ;
    height: 240px;
    width: 260px;
    right: 0;
    top: 80px;
    border: 2px solid #CED4DA;
    background-color: #FFFFFF;
}

.login h2{
    margin-left: 25px;
    color: #219DE5;
}
.login li{
    list-style: none;
    left: 0px;
    border-bottom:1px solid #DFDFDF;
    padding: 12px 5px;
    color: #2FA4E7;
}

.login button{
    margin-top: 5px;
    border: 2px solid #E35901;
    border-radius: 5px;
    background-color: #E45901;
    margin-left: 12px;
    width: 245px;
    height: 36px;
    cursor: pointer;
}

.login button a{
    text-decoration: none;
    color: #FFFFFF;
}

.login button:hover{
    font-size: 15px;
    border: 2px solid #9D3D00;
}

.button {
    display: block;
    margin: 0 auto;
    width: 300px;
    color: #FFFFFF;
    height: 40px;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid grey;
    background-color: #4CB0EA;    
}

.button:hover{
    cursor:pointer;
    font-size: 15px;
}

footer {
    background-color: #2CA2E6;
    width: 100%;
    height: 50px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif ;
    bottom: 0;
} 
footer p{
    padding-bottom: 5px ;
}