html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
}

.container {
    flex: 1;
}

header {
    background-color: #2CA2E6;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 20px;
    font-family: Arial, Helvetica, sans-serif ;
}

header a {
    padding-left: 50px;
    color: #D7EDF9;
    text-decoration: none;
}

header a:hover{
    color: #FFFFFF; 
}

header ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header li {
    display: inline;
    font-size: 20px;
    margin-right: 20px;
    color: #D7EDF9;
}

.menu {
    height: 345px;
    width: 260px;
    margin-top: 30px;
    margin-left: 30px;
    padding: 0;
  }
  
.menu ul {
    width: 200px;
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif ;
    background-color: #FFFFFF;
    justify-content: space-between;
  }
  
.menu li {
    
    margin: 0;
    padding: 10px; 
    list-style: none;
  }
.menu ul li{
    padding: 12px 16px;
    border:1px solid #DFDFDF;
}

.menu ul a li{
    color: black;
}

.menu ul a{
    text-decoration: none;
}

.menu ul li:hover{
    background-color: #F2F2F2;
}

select{
    margin-left: 50px;
}

table{
    width: 700px;
    background-color: white;
    margin:auto;
}

table, th, td {
    border-collapse: collapse;
    border:1px solid black;
}

.button {
    display: block;
    margin: 0 auto;
    width: 300px;
    color: #FFFFFF;
    height: 40px;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid grey;
    background-color: #4CB0EA;    
}

.button:hover{
    font-size: 15px;
}

footer {
    background-color: #2CA2E6;
    width: 100%;
    height: 50px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif ;
    bottom: 0;
} 
footer p{
    padding-bottom: 5px ;
}